<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layouts/navbar::tellMe_head"/>
<head th:replace="layouts/footer::tellMe_foot"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>통계 게시판</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/statistics.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.00"></script>
<!-- 버전 2 (최신) -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script th:src="@{/js/statistics.js}" defer></script>
</head>
<body>
<div th:replace="layouts/navbar::tellMe_header"></div>
<main class="container">
    <div class="report-header">
        <h1>문의 통계</h1>
    </div>
    <!-- 탭 -->
    <div class="tabs">
        <!-- 기존 탭 클릭 시 status 값 전달 -->
        <a class="tab" th:href="@{/manager/today-question}">실시간 민원 현황</a>
        <a class="tab">처리 대기중 민원 현황</a>
        <a class="tab">보고서 상태별 현황</a>
    </div>


    <div id="wrapper">
        <div id="content-wrapper">
            <!-- 실시간 민원 현황 -->
            <div class="chart-box">
                <div class="chart-header">
                <h2>실시간 민원 현황</h2>
                    <a th:href="@{/manager/download-realtime}" class="download-btn">
                        <i class="fas fa-file-csv"></i>
                    </a>
                </div>
                <div class="chart-wrapper">
                    <canvas id="realTimeChart"></canvas>
                </div>
            </div>

            <!-- 파이차트 2개를 같은 줄에 배치 -->
            <div class="chart-container">
                <!-- 처리 대기중 민원수 -->
                <div class="chart-box">
                    <h2>처리 대기중 민원수</h2>
                    <div class="chart-wrapper">
                        <canvas id="statusChart"></canvas>
                    </div>
                </div>

                <!-- 보고서 확인 상태별 통계 -->
                <div class="chart-box">
                    <h2>보고서 상태별 통계</h2>
                    <div class="chart-wrapper">
                        <canvas id="reportstatusChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<div th:replace="layouts/footer::tellMe_footer"></div>

<!-- Thymeleaf를 사용하여 데이터를 JavaScript로 전달 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var statistics = {
        전체민원수: [[${statistics.전체민원수}]],
        악성민원비율: [[${statistics.악성민원비율}]],
        접수중Count: [[${statistics.접수중Count}]],
        처리중Count: [[${statistics.처리중Count}]],
        미확인Count: [[${statistics.미확인Count}]],
        확인완료Count: [[${statistics.확인완료Count}]]
    };

    var questionsAndMaliciousByHour = {
        normal: [[${questionsAndMaliciousByHour['normal']}]],
        malicious: [[${questionsAndMaliciousByHour['malicious']}]]
    };
    /*]]>*/
</script>


</body>
</html>