<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">
<head th:replace="layouts/navbar::tellMe_head"/>
<head th:replace="layouts/footer::tellMe_foot"/>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aivle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</head>
<body>
<div th:replace="layouts/navbar::tellMe_header"></div>

<div id="home" class="section">
    <div class="slider">
        <div class="slide">
            <div class="wrapper">
                <div class="area left">
                    <div>
                        <h1>깨끗하고 원활한 민원 접수,<br>안심하세요!</h1>
                        <p>신고하고 싶은 글?<br>AI 필터가 먼저 차단해요!</p>
                    </div>
                    <div class="image-container">
                        <img th:src="@{/image/background.png}">
                    </div>
                </div>
                <div class="area right">
                    <ul class="grid-container">
                        <li class="box left">
                            <div>
                                <div class="icon-container">
                                    <p>빠른 민원 접수!</p>
                                    <span class="icon"><img th:src="@{/image/doc.png}"></span>
                                </div>
                                <p class="description">쉽고 직관적인 인터페이스로<br> 빠르게 민원 작성</p>
                            </div>
                            <div>
                                <div class="icon-container">
                                    <p>불필요한 항목 없이</p>
                                    <span class="icon"><img th:src="@{/image/doc.png}"></span>
                                </div>
                                <p class="description">언제 어디서나<br>간편하게 이용 가능</p>
                            </div>
                        </li>
                        <li class="box right">
                            <div>
                                <div class="icon-container">
                                    <p>불편한 글 자동 순화!</p>
                                    <span class="icon"><img th:src="@{/image/abuse.png}"></span>
                                </div>
                                <p class="description">욕설, 도배, 혐오 표현 없이<br>쾌적한 환경 제공</p>
                            </div>
                            <div>
                                <div class="icon-container">
                                    <p>AI 실시간 민원 감지</p>
                                    <span class="icon"><img th:src="@{/image/doc.png}"></span>
                                </div>
                                <p class="description">도배 또는 중복 게시물<br>자동 필터링</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="wrapper3">
                <div class="area left">

                </div>
                <div class="area right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="wrapper">
                <div class="area left">
                    <div>
                        <h1>깨끗하고 원활한 민원 접수,<br>안심하세요!</h1>
                        <p>신고하고 싶은 글?<br>AI 필터가 먼저 차단해요!</p>
                    </div>
                    <div class="button">
                        <a th:href="@{/complaint/new}" class="btn">
                            <span>시작하기</span>
                        </a>
                    </div>
                </div>
                <div class="area right">
                    <ul class="grid-container">
                        <li class="box left">
                            <div>
                                <p>빠른 민원 접수</p>
                                <p>쉽고 직관적인 인터페이스로 빠르게 민원 작성</p>
                            </div>
                            <div></div>
                        </li>
                        <li class="box right">
                            <div>
                                <p>불편한 글 자동 차단</p>
                                <p>욕설, 도배, 혐오 표현 없이 쾌적한 환경 제공</p>
                            </div>
                            <div></div>
                            <p></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="controls">
        <button class="control-button" onclick="goToSlide(0)"></button>
        <button class="control-button" onclick="goToSlide(1)"></button>
        <button class="control-button" onclick="goToSlide(2)"></button>
    </div>
</div>


<!--<div class="wrapper">-->
<!--    <div class="area left">-->
<!--        <div>-->
<!--            <h1>깨끗하고 원활한 민원 접수,<br>안심하세요!</h1>-->
<!--            <p>신고하고 싶은 글?<br>AI 필터가 먼저 차단해요!</p>-->
<!--        </div>-->
<!--        <div class="button">-->
<!--            <a th:href="@{/complaint/new}" class="btn">-->
<!--                <span>시작하기</span>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="area right">-->
<!--        <ul class="grid-container">-->
<!--            <li class="box left">-->
<!--                <div>-->
<!--                    <div class="icon-container">-->
<!--                        <p>빠른 민원 접수!</p>-->
<!--                        <span class="icon">-->
<!--                            <img th:src = "@{/image/doc.png}">-->
<!--                        </span>-->
<!--                    </div>-->
<!--                    <p class="description">쉽고 직관적인 인터페이스로<br> 빠르게 민원 작성</p>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p>불필요한 항목 없이</p>-->
<!--                    <p>언제 어디서나 간편하게 이용 가능</p>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="box right">-->
<!--                <div>-->
<!--                    <div class="icon-container">-->
<!--                        <p>불편한 글 자동 순화!</p>-->
<!--                        <span class="icon">-->
<!--                            <img th:src = "@{/image/abuse.png}">-->
<!--                        </span>-->
<!--                    </div>-->
<!--                    <p class="description">욕설, 도배, 혐오 표현 없이<br>쾌적한 환경 제공</p>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p>AI를 통한 실시간 민원 감지</p>-->
<!--                    <p>도배 또는 중복 게시물 자동 필터링</p>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="wrapper">-->
<!--    <div class="area left">-->
<!--        <div>-->
<!--            <h1>깨끗하고 원활한 민원 접수,<br>안심하세요!</h1>-->
<!--            <p>신고하고 싶은 글?<br>AI 필터가 먼저 차단해요!</p>-->
<!--        </div>-->
<!--        <div class="button">-->
<!--            <a th:href="@{/complaint/new}" class="btn">-->
<!--                <span>시작하기</span>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="area right">-->
<!--        <ul class="grid-container">-->
<!--            <li class="box left">-->
<!--                <div>-->
<!--                    <p>빠른 민원 접수</p>-->
<!--                    <p>쉽고 직관적인 인터페이스로 빠르게 민원 작성</p>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p></p>-->
<!--                    <p></p>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="box right">-->
<!--                <div>-->
<!--                    <p>불편한 글 자동 차단</p>-->
<!--                    <p>욕설, 도배, 혐오 표현 없이 쾌적한 환경 제공</p>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p></p>-->
<!--                    <p></p>-->
<!--                </div>-->
<!--                <p></p>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->

<div th:replace="layouts/footer::tellMe_footer"></div>
</body>
</html>