<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">
<head th:replace="layouts/navbar::tellMe_head"/>
<head th:replace="layouts/footer::tellMe_foot"/>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aivle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</head>
<body>
<div th:replace="layouts/navbar::tellMe_header"></div>

<div id="home" class="section">
    <div class="slider">
        <div class="slide">
            <div class="wrapper2">
                <div class="area left">
                    <div>
                        <h1>깨끗하고 원활한 민원 접수,<br>안심하세요!</h1>
                        <p>신고하고 싶은 글?<br>AI 필터가 먼저 차단해요!</p>
                    </div>
                </div>
                <div class="area right">
                    <ul class="grid-container">
                        <li class="box left">
                            <div>
                                <p>빠른 민원 접수</p>
                                <p>쉽고 직관적인 인터페이스로 빠르게 민원 작성</p>
                            </div>
                            <div>
                                <p></p>
                                <p></p>
                            </div>
                        </li>
                        <li class="box right">
                            <div>
                                <p>불편한 글 자동 차단</p>
                                <p>욕설, 도배, 혐오 표현 없이 쾌적한 환경 제공</p>
                            </div>
                            <div>
                                <p></p>
                                <p></p>
                            </div>
                            <p></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class = "video-container">
                <video autoplay loop muted playsinline>
                    <source th:src="@{/image/keyboard3.mp4}" type="video/mp4">
                </video>
            </div>
            <div class="video-content">
                <p>불편한 게시글은 사라지고, 원하는 답변은 빠르게!</p>
            </div>
        </div>

        <div class="slide">신고하고 싶은 글? AI 필터가 먼저 차단해요!</div>
    </div>
    <div class="controls">
        <button class="control-button" onclick="goToSlide(0)"></button>
        <button class="control-button" onclick="goToSlide(1)"></button>
        <button class="control-button" onclick="goToSlide(2)"></button>
    </div>
</div>

<div class="wrapper2">
    <div class="area left">
        <div>
            <h1>깨끗하고 원활한 민원 접수,<br>안심하세요!</h1>
            <p>신고하고 싶은 글?<br>AI 필터가 먼저 차단해요!</p>
        </div>
    </div>
    <div class="area right">
        <ul class="grid-container">
            <li class="box left">
                <div>
                    <p>빠른 민원 접수</p>
                    <p>쉽고 직관적인 인터페이스로 빠르게 민원 작성</p>
                </div>
                <div>
                    <p></p>
                    <p></p>
                </div>
            </li>
            <li class="box right">
                <div>
                    <p>불편한 글 자동 차단</p>
                    <p>욕설, 도배, 혐오 표현 없이 쾌적한 환경 제공</p>
                </div>
                <div>
                    <p></p>
                    <p></p>
                </div>
                <p></p>
            </li>
        </ul>
    </div>
</div>

<div class="wrapper">
    <div class="area left">
        <div class="image fit">
            <img src="image/homebackground.png" alt="게시판 이미지" width="600" height="300">
        </div>
    </div>
    <div class="area right">
        <ul class="grid-container">
            <li class="box">
                <img th:src="@{/image/background2.png}" class="background-image">
                <div>
                    <p>깨끗하고 원활한</p>
                    <p>민원 접수</p>
                </div>
                <p>안심하세요!</p>
            </li>
            <li class="box">
                <img th:src="@{/image/box2.jpg}" class="background-image">
                <div>
                    <p>불편한 게시글은 사라지고</p>
                    <p>원하는 답변은 빠르게!</p>
                </div>
                <p></p>
            </li>
            <li class="box">
                <img th:src="@{/image/pic01.jpg}" class="background-image">
                <div>
                    <p>신고하고 싶은 글?</p>
                    <p>도배, 욕설, 부적절한 이미지?</p>
                </div>
                <p>AI 필터가 차단해요!</p>
            </li>
            <li class="box typeTwo">
                <img th:src="@{/image/background.png}" class="background-image">
                <div>
                    <p>여러분의 민원이</p>
                    <p>빠르고 정확하게</p>
                </div>
                <p>처리됩니다!</p>
            </li>
        </ul>
    </div>
</div>
<div th:replace="layouts/footer::tellMe_footer"></div>
</body>
</html>