<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">
<head th:replace="layouts/navbar::tellMe_head"/>
<head th:replace="layouts/footer::tellMe_foot"/>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aivle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</head>
<body>
<div th:replace="layouts/navbar::tellMe_header"></div>

<div class="wrapper2">
    <div class="area left">
        <div class="image fit">
            <img src="image/homebackground.png" alt="게시판 이미지" width="600" height="300">
        </div>
    </div>
    <div class="area right">
        <div class="content">
            <div class="inner">
                <header class="align-center">
                    <p>민원 게시판을 이용하기</p>
                    <h1>민원 게시판을 이용하시려면 아래 시작하기 버튼을 눌러주세요.</h1>
                </header>
                <p>민원 처리는 복잡하지 않아야 합니다.
                    고객님의 불편을 귀담아듣고 신속히 해결할 수 있도록 노력하겠습니다.
                    지금 바로 민원 처리를 시작해보세요.
                </p>
                <footer class="align-center">
                    <a th:href="@{/complaint/new}" class="button alt">시작하기</a>
                </footer>
            </div>
        </div>
    </div>
</div>

<!-------------------------------------------->

<div class="wrapper3">
    <div class="area left">왼쪽 영역</div>
    <div class="content">
        <div class="inner">
            <header class="align-center">
                <p>민원 처리 및 고충이 있다면 언제든지 연락주세요.</p>
                <h1>원하는 상담 및 기능이
                    있으신가요?</h1>
            </header>
            <div class="menu-bar">
                <button class="menu-button" onclick="updateContent('유선 상담을 원하시나요?')">유선상담</button>
                <button class="menu-button" onclick="updateContent('채팅 상담을 원하시나요?')">채팅상담</button>
                <button class="menu-button" onclick="updateContent('기술 지원이 필요하신가요?')">기술지원</button>
            </div>
            <div id="dynamic-area" class="dynamic-content">
                <h2 id="main-text"></h2> <!-- 초기 상태 비워둠 -->
                <p id="sub-text"></p> <!-- 초기 상태 비워둠 -->
                <p>
                    <strong id="contact-strong"></strong>
                    <span id="contact-icon"></span>
                    <span id="contact-info"></span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="area right">
    <div class="image fit">
        <img src="image/home_inquiry.png" alt="상담 이미지" width="600" height="300">
    </div>
</div>

</div>

<!-------------------------------------------->

<div class="wrapper">
    <div class="background-container">
        <img th:src="@{/image/background.png}" class="background-image">
    </div>
    <div class="grid-style">
        <div class="box left">
            <div class="image fit">
                <img src="image/home_inquiry.png" alt="상담 이미지" width="600" height="300">
            </div>
            <!--            <div class="content">-->
            <!--                <div class="inner">-->
            <!--                    <header class="align-center">-->
            <!--                        <p>민원 처리 및 고충이 있다면 언제든지 연락주세요.</p>-->
            <!--                        <h1>원하는 상담 및 기능이-->
            <!--                            있으신가요?</h1>-->
            <!--                    </header>-->
            <!--                    <div class="menu-bar">-->
            <!--                        <button class="menu-button" onclick="updateContent('유선 상담을 원하시나요?')">유선상담</button>-->
            <!--                        <button class="menu-button" onclick="updateContent('채팅 상담을 원하시나요?')">채팅상담</button>-->
            <!--                        <button class="menu-button" onclick="updateContent('기술 지원이 필요하신가요?')">기술지원</button>-->
            <!--                    </div>-->
            <!--                    <div id="dynamic-area" class="dynamic-content">-->
            <!--                        <h2 id="main-text"></h2> &lt;!&ndash; 초기 상태 비워둠 &ndash;&gt;-->
            <!--                        <p id="sub-text"></p> &lt;!&ndash; 초기 상태 비워둠 &ndash;&gt;-->
            <!--                        <p>-->
            <!--                            <strong id="contact-strong"></strong>-->
            <!--                            <span id="contact-icon"></span>-->
            <!--                            <span id="contact-info"></span>-->
            <!--                        </p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>

        <div class="box right">
            <div class="image fit">
                <img src="image/homebackground.jpg" alt="게시판 이미지" width="600" height="300">
            </div>
            <div class="content">
                <div class="inner">
                    <header class="align-center">
                        <p>민원 게시판을 이용하기</p>
                        <h1>민원 게시판을 이용하시려면 아래 시작하기 버튼을 눌러주세요.</h1>
                    </header>
                    <p>민원 처리는 복잡하지 않아야 합니다.
                        고객님의 불편을 귀담아듣고 신속히 해결할 수 있도록 노력하겠습니다.
                        지금 바로 민원 처리를 시작해보세요.
                    </p>
                    <footer class="align-center">
                        <a th:href="@{/complaint/new}" class="button alt">시작하기</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------------------------------------------->

<div th:replace="layouts/footer::tellMe_footer"></div>
</body>
</html>