<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>home</title>
</head>
<body>
<div>
  <div class="title">
    회원가입
  </div>
  <form th:action="@{/user/save}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="field">
      <input type="text" th:field="*{userId}" required>
      <label>사용자ID</label>
    </div>
    <div class="field">
      <input type="password" th:field="*{password}" required>
      <label>비밀번호</label>
    </div>
    <div class="field">
      <input type="email" th:field="*{email}" required>
      <label>이메일</label>
    </div>
    <div class="field">
      <input type="text" th:field="*{userName}" required>
      <label>이름</label>
    </div>
    <div class="field">
      <input type="text" th:field="*{birthDate}" placeholder="8자리" required>
      <label>생년월일</label>
    </div>
    <div class="field">
      <input type="text" th:field="*{address}" required>
      <label>주소</label>
    </div>
    <div class="field">
      <ul>
        <li>
          <input type="radio" th:field="*{gender}" value="M">
          <label>남성</label>
        </li>
        <li>
          <input type="radio" th:field="*{gender}" value="W">
          <label>여성</label>
        </li>
      </ul>
    </div>
    <div class="field">
      <input type="text" th:field="*{phone}" required>
      <label>전화번호</label>
    </div>
    <div class="field">
      <input type="submit" value="회원가입">
    </div>
    <div class="content">
      <div class="pass-link">
        <a th:href="@{/}">홈으로</a>
      </div>
    </div>
  </form>
</div>
</body>
</html>