<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>home</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
  <script type="text/javascript">
    function checkNameUnique(form){
      url = "[[@{/user/check/unique}]]";
      console.log(url);

      userId=$("#userId").val();
      password=$("#password").val();
      phone=$("#phone").val();
      email=$("#email").val();
      csrfValue=$("input[name='_csrf']").val();

      params={userId:userId,password:password,phone:phone,email:email,_csrf: csrfValue};

      $.post(url,params,function(response){
          if(response == "중복없음"){
              form.submit();
          }else if(response == "아이디중복"){
              showToast("Warning","아이디가 이미 존재합니다. 다른 아이디를 입력하세요!");
          }else if(response == "비밀번호중복"){
              showToast("Warning","비밀번호가 이미 존재합니다. 다른 비밀번호를 입력하세요!");
          }else if(response == "핸드폰중복"){
              showToast("Warning","핸드폰 번호가 이미 존재합니다. 다른 핸드폰 번호를 입력하세요!");
          }else if(response == "이메일중복"){
               showToast("Warning","이메일이 이미 존재합니다. 다른 이메일을 입력하세요!");
          }else{
              showToast("Error","Unknown response from server");
          }
      }).fail(function(){
          showToast("Error","Could not connect to the server");
      });
      return false;
    }
    function showToast(type, message) {
      const toast = document.getElementById("toastMessage");
      toast.textContent = message;  // 메시지 내용 설정
      toast.className = "toast show " + type;  // 타입에 따른 클래스 추가

      // 3초 후에 메시지 숨기기
      setTimeout(function() {
          toast.className = toast.className.replace("show", ""); // 숨기기
      }, 3000); // 3초 동안 표시
    }
  </script>

</head>
<body>
<div>
  <div class="title">
    회원가입
  </div>
  <div style="color:red;" id="toastMessage" class="toast"></div>
  <form th:action="@{/user/save}" th:object="${user}" method="post" onsubmit="return checkNameUnique(this)">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <input type="hidden" th:field="*{id}"/>
    <div class="field">
      <input type="text" th:field="*{userId}" minlength="4" maxlength="20" required>
      <label>사용자ID</label>
    </div>
    <div class="field">
      <input type="password" th:field="*{password}" minlength="4" maxlength="20" required>
      <label>비밀번호</label>
    </div>
    <div class="field">
      <input type="email" th:field="*{email}" required>
      <label>이메일</label>
    </div>
    <div class="field">
      <input type="text" th:field="*{userName}" required>
      <label>이름</label>
    </div>
    <div class="field">
      <input type="text" th:field="*{birthDate}" placeholder="8자리" minlength="8" maxlength="8" required>
      <label>생년월일</label>
    </div>
    <div class="field">
      <input type="text" th:field="*{phone}" required>
      <label>전화번호</label>
    </div>
    <div class="field">
      <input type="text" th:field="*{address}" required>
      <label>주소</label>
    </div>
    <div class="field">
      <ul>
        <li>
          <input type="radio" th:field="*{gender}" value="M">
          <label>남성</label>
        </li>
        <li>
          <input type="radio" th:field="*{gender}" value="W">
          <label>여성</label>
        </li>
      </ul>
    </div>
    <div class="field">
      <input type="submit" value="회원가입">
    </div>
    <div class="content">
      <div class="pass-link">
        <a th:href="@{/}">홈으로</a>
      </div>
    </div>
  </form>
</div>
</body>
</html>