/* Reset box-sizing for consistent layout */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General Styles */
body {
    margin: 0;
    font-family: 'Noto Sans KR', Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Card Styles */
.login-card {
    background-color: white;
    padding: 2.5rem 2rem;
    border-radius: 16px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* max-width: 380px; */
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 2rem;
}

/* Input Styles */
.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}


.input-group input {
    width: 100%; /* Ensures full width */
    padding: 12px 14px 12px 40px; /* Adjust left padding for icon */
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    background-color: #f9fafb;
    transition: all 0.3s ease;
    height: 44px; /* Ensure consistent height */
}

.input-group input:focus {
    border-color: #3b82f6;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(59, 130, 246, 0.1);
}

.input-group .icon {
    position: absolute;
    left: 12px;
    top: 40%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.input-group .icon img {
    width: 100%;
    height: 100%;
}

/* Button Styles */
.btn {
    width: 100%; /* Ensures full width */
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #AE93F6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(59, 130, 246, 0.2);
    height: 44px; /* Same height as input fields */
}

.btn:hover {
    background-color: #9678F2; /* 추천한 Hover 색상 */
    box-shadow: 0px 4px 10px rgba(150, 120, 242, 0.4);
}

.btn:disabled {
    background-color: gray;
    cursor: pointer;
    box-shadow: none;
}

.back-link {
    margin-top: 20px;
}

.back-link a {
    font-size: 14px;
    color: #AE93F6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-link a:hover {
    color: #9678F2;
}

.find-id {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #6b7280;
    text-align: center;
}

.find-id a {
    color: #AE93F6;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.3rem;
    transition: color 0.3s ease;
}

.find-id p {
    font-size: 1rem;
}

.find-id a:hover {
    color: #9678F2;
    text-decoration: underline;
}