<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="Footer.css">
</head>
<body>
<div class="footer">
    <div class="container">
        <div class="left">
            <h3>aivle 202406</h3>
            <h2>
                02)873-4466<span>공휴일 제외 오전 9시 - 오후 6시</span>
            </h2>
            <div class="btnContent">
                <span>카카오톡 문의</span>
                <p>공휴일 제외 오전 9시 - 오후 6시</p>
            </div>
            <div class="btnContent">
                <span>1:1 문의</span>
                <p>
                    365일<br>
                    고객센터 운영시간에 순차적으로 답변드리겠습니다.
                </p>
            </div>
        </div>
        <div class="right">
            <ul class="navbar">
                <li><a href="/">소개</a></li>
                <li><a href="/mypage/order">마이페이지</a></li>
                <li>이용약관</li>
                <li>개인정보처리방침</li>
                <li>이용안내</li>
            </ul>
            <p class="notice">
                법인명 : aivle 202406 <span class="line"></span> 사업자등록번호 : 119-82-1234<br>
                통신판매업 : 제 2022-서울강남-00001 호 <span class="line"></span> 개인정보보호책임자 : 7조 컴포넌트들<br>
                주소 : 서울특별시 강남구 테헤란로 231, 11층 <span class="line"></span> 대표이사 : 7조 컴포넌트들<br>
                입점문의 : 02)873-4466 <span class="line"></span> 채용문의 : 02)873-4466
            </p>
            <ul class="sns">
                <li>
                    <svg title="인스타그램" width="30" height="30" fill="rgb(95, 0, 128)">
                        <use href="#icon-instagram"></use>
                    </svg>
                </li>
                <li>
                    <svg title="페이스북" width="30" height="30" fill="rgb(95, 0, 128)">
                        <use href="#icon-facebook"></use>
                    </svg>
                </li>
                <li>
                    <svg title="유투브" width="30" height="30" fill="rgb(95, 0, 128)">
                        <use href="#icon-youtube"></use>
                    </svg>
                </li>
                <li>
                    <a href="https://github.com/Front-end-Components">
                        <svg title="github" width="30" height="30" fill="rgb(95, 0, 128)">
                            <use href="#icon-github"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="copy">
        © 2025. Front-end Components All rights reserved.
    </p>
</div>
</body>
</html>
