<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div th:fragment="TellMe_side_mypage" class="sidebar">
  <div class="profile-header">
    <label for="profile-upload" class="profile-img">
      <input type="file" id="profile-upload" accept="image/*">
      <img id="profile-pic" th:src="@{/image/profile.png}" alt="프로필 사진">
    </label>
    <form th:action="@{/user/save}" th:object="${user}" method="post" onsubmit="return checkNameUnique(this)">
      <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
      <input type="hidden" th:field="*{id}"/>
      <div class="user-name" th:text="*{userName}"></div>
    </form>
  </div>
  <ul class="menu">
    <li class="menu-item active" data-target="profile">내 프로필</li>
    <li class="menu-item" data-target="security">비밀번호 설정</li>
    <li class="menu-item" data-target="history">내 민원 조회</li>
  </ul>
</div>






<!--<ul th:fragment="TellMe_side_mypage">-->
<!--  <li><a th:href="@{/mypage/editInfo}"><i class=""></i>내 정보 보기 및 수정</a></li>-->
<!--  <li><a th:href="@{/mypage/editPassword}"><i class=""></i>비밀번호 수정</a></li>-->
<!--  <li><a th:href="@{/mypage/myComplaint}"><i class=""></i>내 민원 조회</a></li>-->
<!--</ul>-->
</body>
</html>