<!-- 민원작성 페이지 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="layouts/navbar::tellMe_head"/>
<head th:replace="layouts/footer::tellMe_foot"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>민원 작성</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new.css}" />
</head>
<body>
<div th:replace="layouts/navbar::tellMe_header"></div>
<main>
    <div class="complaint-header">
        <h1>민원 작성</h1>
    </div>
<!--<form th:action="@{/complaint/create}" method="post" enctype="multipart/form-data">-->
<form th:action="@{/complaint/create}" method="post">
    <!-- 제목 -->
    <table class="form-table">
        <tr>
            <th><label for="title">제목</label></th>
            <td><input type="text" id="title" name="title" required /></td>
        </tr>

        <tr>
            <th>공개 여부</th>
            <td>
                <input type="radio" id="public" name="reveal" value="공개" checked />
                <label for="public">공개</label>
                <input type="radio" id="private" name="reveal" value="비공개" />
                <label for="private">비공개</label>
            </td>
        </tr>

        <tr>
            <th><label for="content">내용</label></th>
            <td><textarea id="content" name="content" rows="6" required></textarea></td>
        </tr>

        <tr>
            <th>첨부파일</th>
            <td>
                <div class="file-upload">
                    <input type="file" name="file1" />
                    <button type="button">X 취소</button>
                </div>
                <div class="file-upload">
                    <input type="file" name="file2" />
                    <button type="button">X 취소</button>
                </div>
                <div class="file-upload">
                    <input type="file" name="file3" />
                    <button type="button">X 취소</button>
                </div>
            </td>
        </tr>
    </table>


    <!-- 개인정보 수집 동의 -->
    <div>
        <input type="checkbox" id="agreement" name="agreement" required />
        <label for="agreement">개인정보 수집 및 이용에 동의합니다.</label>
    </div>

    <!-- 버튼 -->
    <div>
        <button type="submit">등록</button>
        <button type="button">목록</button>
        <button type="button">임시저장</button>
    </div>
</form>
</main>
<div th:replace="layouts/footer::tellMe_footer"></div>
</body>
</html>
</html>