<!-- 민원작성 페이지 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/navbar::tellMe_head"/>
<head th:replace="layouts/footer::tellMe_foot"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>민원 작성</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new.css}" />
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script th:src="@{/js/new.js}"></script>
</head>
<body>
<div th:replace="layouts/navbar::tellMe_header"></div>
<main>
<h1>민원 작성</h1>
<form th:action="@{/complaint/create}" th:object="${question}" method="post" enctype="multipart/form-data" onsubmit="return filterAPI(this)">
    <input type="hidden" th:field="*{userId}"/>
    <!-- 제목 -->
    <div>
        <label>제목</label>
        <input type="text" th:field="*{title}" required />
    </div>
    <!-- 공개 여부 -->
    <div>
        <span>공개 여부</span>
        <div th:each="option : ${question.reveal.values()}">
            <input type="radio" th:field="*{reveal}" th:value="${option}" th:id="${option}" />
            <label th:for="${option}" th:text="${option}"></label>
        </div>
    </div>
    <!-- 내용 -->
    <div>
        <label for="content">내용</label>
        <textarea id="content" th:field="*{content}" rows="6" required></textarea>
    </div>
    <!-- 첨부파일 -->
    <div>
        <label>첨부파일</label>
        <div th:each="i : ${#numbers.sequence(1, 3)}">
            <input type="hidden" th:field="*{__${'file' + i}__}" />
            <input type="file" th:id="'fileImage' + ${i}" th:name="files"
                   accept="image/png, image/jpeg, image/jpg, application/pdf, application/hwp,
                       application/vnd.openxmlformats-officedocument.wordprocessingml.document, text/plain"
                   class="file-input-field"/>
            <button type="button" class="remove-file-button" th:onclick="'resetFileInput(' + ${i} + ')'">취소</button>
        </div>
    </div>
    <!-- 개인정보 수집 동의 -->
    <div>
        <input type="checkbox" id="agreement" name="agreement" required />
        <label for="agreement">개인정보 수집 및 이용에 동의합니다.</label>
    </div>
    <!-- 버튼 -->
    <div>
        <button type="submit" onclick="sendPrediction()">등록</button>
        <button type="button">목록</button>
        <button type="button">임시저장</button>
    </div>
</form>
</main>
<div th:replace="layouts/footer::tellMe_footer"></div>
</body>
</html>
</html>