<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}" />
</head>
<body>
<div th:replace="layouts/navbar :: navbar"></div>
<main class="content">
    <h1 class="title">공지사항</h1>

    <div class="tabs">
        <button class="tab" data-category="all">전체</button>
        <button class="tab" data-category="공고">공고</button>
        <button class="tab" data-category="행사">행사</button>
        <button class="tab" data-category="업데이트">업데이트</button>
        <button class="tab" data-category="기타">기타</button>
    </div>

    <div class="summary">
        <span>전체 <strong id="total-count">0</strong></span>
    </div>

    <table class="notice-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>등록일</th>
            <th>조회</th>
        </tr>
        </thead>
<!--        <tbody id="table-body">-->
<!--        &lt;!&ndash; JavaScript로 데이터 추가 &ndash;&gt;-->
<!--        </tbody>-->
        <tbody>
            <tr th:each="notice, iterStat : ${noticeList}">
                <td th:text="${iterStat.index + 1}"></td>
<!--                <td th:text="${notice.id}"></td> //notice_id 출력 -->
                <td><a th:href="@{/customer/notice/{id}(id=${notice.id})}" th:text="${notice.title}"></a></td>
                <td th:text="*{#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${notice.views}"></td>
            </tr>
        </tbody>
    </table>
    <div class="write-button-container" sec:authorize="hasRole('ROLE_MANAGER')">
        <a class="write-button" th:href="@{/customer/write}">글쓰기</a>
    </div>
    <div class="delete-button-container" sec:authorize="hasRole('ROLE_MANAGER')">
        <a class="delete-button" th:href='@{/delete}'>삭제</a>
    </div>
    <div class="pagination" id="pagination">
        <!-- JavaScript로 페이지네이션 추가 -->
    </div>
</main>

<script src="notice.js"></script>
</body>
</html>