<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="ko">
<head th:replace="layouts/navbar::tellMe_head"/>
<head th:replace="layouts/footer::tellMe_foot"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${notice.title}"></title>
    <script th:src="@{/js/notice-detail.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice-detail.css}" />
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css" rel="stylesheet">
</head>
<body>
<div th:replace="layouts/navbar::tellMe_header"></div>

<main class="content">
    <h1>공지사항</h1>
    <table>
        <tr class="border-top">
            <th>번호</th>
            <td th:text="${notice.id}"></td>
            <th>조회수</th>
            <td>
                <span th:text="${notice.views}">0</span>
            </td>
            <th>작성일</th>
            <td>
                <span th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd')}">2025-01-17 18:00:00</span>
            </td>
        </tr>
        <tr>
            <th>제목</th>
            <td colspan="5">
                <span th:text="${notice.title}"></span>
            </td>
        </tr>
        <tr>
            <th>첨부파일</th>
            <td colspan="5">
            <span th:if="${notice.file != null}">
            <a href="" class="download-link" th:data-filepath="@{'/tellMe/tellMe-image/notice/' + ${notice.id} + '/' + ${notice.file}}" title="첨부파일 다운로드">
                <img th:src = "@{/image/attachment.jpg}" alt="첨부파일 아이콘" style="width: 16px; height: 16px; vertical-align: middle; margin-right: 5px;">
                <span th:text="${notice.file}"></span>
            </a>
            </span>
                <span th:if="${notice.file == null}">없음</span>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <span th:text="${notice.content}" class="content-text">게시글 내용을 불러오는 중...</span>
            </td>
        </tr>
    </table>

    <!-- 🔹 Hidden Input Fields (자바스크립트에서 Thymeleaf 변수 사용을 위해 추가) -->
    <input type="hidden" id="page" th:value="${page}" /> <!-- 현재 페이지 번호 -->
    <input type="hidden" id="noticeId" th:value="${notice.id}" /> <!-- 공지사항 ID -->

    <!-- 버튼 -->
    <div class="buttons">
        <button class="list-button" th:onclick="detailListReq()">목록보기</button>
        <button class="prev-button" th:onclick="updateReq()" sec:authorize="hasRole('ROLE_MANAGER')">수정하기</button>
        <button class="prev-button" th:onclick="deleteReq()" sec:authorize="hasRole('ROLE_MANAGER')">삭제하기</button>
    </div>
</main>
<div th:replace="layouts/footer::tellMe_footer"></div>
</body>
</html>